/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*  $KLARNACHECKOUT
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

    [id="center_column"] {
        width: 100%;
    }
    [id="left_column"],
    [id="right_column"],
    .shipping_cart,
    .order_delivery,
    .delivery_option_icon,
    [id="giftmessagearea"] {
        display: none;
    }
    .kco-main {
        font-size: 16px;
    }

	#module-klarnaofficial-checkoutklarna #order_step,
    #module-klarnaofficial-checkoutklarna .price_discount_delete,
	#module-klarnaofficial-checkoutklarna .standard-checkout{ display: none; }
	

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*  $UTILITIES
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

    /*  $Floats $Clearfix $Misc $Layout
    /*-------------------------------------------------------------------------*/

        .kco-cf:after {
            clear: both;
            content: '';
            display: block;
        }
        .fl-l {
            float: left;
        }
        .fl-r {
            float: right;
        }
        .fl-n {
            float: none;
        }
        .clear { 
            clear: both; 
        }
        .kco-box {
            margin-bottom: 2em;
        }
            .kco-box:after {
                clear: both;
                content: '';
                display: block;
            }
            .kco-box--big {
                margin-bottom: 3em;
            }
            @media (max-width: 992px) {
                .kco-box--big {
                    margin-bottom: 2em;
                }
            }
        .kco-input-group {
            display: block !important;
            position: relative;
        }
            .kco-input-group:after {
                clear: both;
                content: '';
                display: block;
            }
            .kco-input-group .kco-btn {
                border-radius: 0 3px 3px 0;
                position: absolute;
                top: 0;
                right: 0;
            }
            .kco-input-group .kco-input {
                width: 100% !important;
            }
        .kco-check-group {
            display: inline-block;
            margin: 0 0 .625em;
            position: relative;
        }
            .kco-check-group:after {
                clear: both;
                content: '';
                display: block;
            }
            .kco-check-group > input,
            .kco-check-group > .checker,
            .kco-check-group > span,
            .kco-check-group > label {
                display: block;
                float: left;
            }
                .kco-check-group > .checker > span {
                    top: 0;
                }
                .kco-check-group > span,
                .kco-check-group > label {
                    font-size: .9375em;
                }
        .kco-infobox {
            background: #f0f4f8;
            border-radius: 3px;
            color: #434343;
            line-height: 1.618em;
            margin: 0 0 2em;
            padding: 15px 15px 15px 62px;
            position: relative;
        }
            .kco-infobox:before {
                color: #0089cf;
                content: '\f06a';
                display: block;
                font-family: Fontawesome;
                font-size: 32px;
                height: 32px;
                left: 15px;
                line-height: 32px;
                margin-top: -16px;
                position: absolute;
                text-align: center;
                top: 50%;
                width: 32px;
            }
            .kco-infobox strong {
                color: #0089cf;
            }

    /*  $Buttons
    /*-------------------------------------------------------------------------*/

        .kco-btn {
            border: 0;
            border-radius: 3px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .075),
                        inset 0 -2px rgba(0, 0, 0, .1);
            display: inline-block;
            font-size: .9375em;
            font-weight: 700;
            height: 2.866666666666667em;
            line-height: 2.7em;
            padding: 0 1em;
        }
            .kco-btn:focus {
                outline: 0;
            }
            .kco-btn:active {
                box-shadow: inset 0 2px rgba(0, 0, 0, .1);
            }
            .kco-btn--default {
                background: #fff;
                border: 1px solid rgba(0,0,0,0.15);
                color: #555;
            }
                .kco-btn--default:hover,
                .kco-btn--default:focus {
                    background: #fcfcfc;
                }
                .kco-btn--default:active {
                    background: #fafafa;
                }
            .kco-btn--blue {
                background: #0089cf;
                color: #fff;
            }
                .kco-btn--blue:hover,
                .kco-btn--blue:focus {
                    background: #0082c5;
                }
                .kco-btn--blue:active {
                    background: #007bbb;
                }
            .kco-btn-full {
                width: 100%;
            }

    /*  $Inputs
    /*-------------------------------------------------------------------------*/

        .kco-input {
            background: #fff;
            border: 0;
            border-radius: 3px;
            box-shadow: inset 0 0 0 1px #a6a6a6;
            color: #595959;
            font-size: .9375em;
            font-weight: 600;
            max-width: 100%;    
            position: relative;
            -webkit-appearance: none;
               -moz-appearance: none;
                -ms-appearance: none;
                 -o-appearance: none;
                    appearance: none;
        }
            .kco-input:hover {

            }
            .kco-input:focus {
                box-shadow: 0 0 0 1px #0089cf,
                            inset 0 1px 1px 0 #d3d3d3,
                            inset 0 1px 3px rgba(0, 0, 0, .06),
                            0 0 3px 1px #0089cf;
                outline: 0;
            }
            .kco-input--text {
                height: 2.866666666666667em;
                padding: 0 1em;
            }
            .kco-input--area {
                margin: 0 0 .625em;
                min-height: 5em;
                padding: 1em;
                resize: vertical;
            }
            .kco-input--full {
                width: 100%;
            }
            .kco-input[disabled],
            .kco-input[disabled="disabled"] {
                background: #f6f6f6;
                color: #545454;
                opacity: 1;
            }
            .kco-input::-webkit-input-placeholder { color: #a9a9a9; font-weight: 400; }
            .kco-input:-webkit-input-placeholder { color: #a9a9a9; font-weight: 400; }
            .kco-input:-moz-placeholder { color: #a9a9a9; font-weight: 400; }
            .kco-input::-moz-placeholder { color: #a9a9a9; font-weight: 400; }
            .kco-input:-ms-placeholder { color: #a9a9a9; font-weight: 400; }

    /*  $Selects
    /*-------------------------------------------------------------------------*/

        .kco-select {
            background: #fff;
            border: 0;
            border-radius: 3px;
            box-shadow: inset 0 0 0 1px #a6a6a6;
            color: #595959;
            cursor: pointer;
            font-size: .9375em;
            height: 2.866666666666667em;
            padding: 0 1em;
            max-width: 100%;
        }
            .kco-select:hover {

            }
            .kco-select:focus {
                box-shadow: 0 0 0 1px #0089cf,
                            inset 0 1px 1px 0 #d3d3d3,
                            inset 0 1px 3px rgba(0, 0, 0, .06),
                            0 0 3px 1px #0089cf;
                outline: 0;
            }
            .kco-select--full {
                width: 100%;
            }
            .kco-select--margin {
                margin-bottom: 1em;
            }

    /*  $Titles $Labels
    /*-------------------------------------------------------------------------*/

        .kco-label,
        .kco-title {
            color: #434343;
            font-weight: 700;
            position: relative;
            z-index: 1;
        }
            .kco-label {
                display: inline-block;
                font-size: .9375em;
            }
            .kco-title {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: 1.125em;
                padding: 0 0 10px;
                margin: 0 0 10px;
            }
            .kco-title--step {
                font-size: 1.5em;
                margin: 0 0 .875em;
                padding: 0 0 .875em;
            }
                .kco-title--step__nbr {
                    background: #f0f4f8;
                    border-radius: 3px;
                    color: #0089cf;
                    display: inline-block;
                    font-weight: 700;
                    height: 1.5em;
                    line-height: 1.5em;
                    text-align: center;
                    width: 1.5em;
                }

    /*  $Triggers $Targets
    /*-------------------------------------------------------------------------*/
        .kco-trigger,
        .kco-trigger * {
            cursor: pointer;
        }
        .kco-trigger:before {
            color: #0089cf;
            content: '\f146';
            display: block;
            float: right;
            font-family: Fontawesome;
            font-size: 16px;
        }
            .kco-trigger--inactive:before {
                content: '\f0fe';
            }
            .kco-trigger--big {
                background: #f0f4f8;
                border: 0;
                border-radius: 3px;
                padding: 1em;
            }
                .kco-trigger--big:before {
                    font-size: 18px;
                }

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*  $LISTS
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

    .kco-sel-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
        .kco-sel-list__item {
            box-shadow: inset 0 0 0 1px #a6a6a6;
            border-radius: 3px;
            display: block;
            font-size: .9375em;
            margin: 0 0 .3333333333333333em;
            position: relative;
        }
            .kco-sel-list__item:after,
            .kco-sel-list__item__label:after {
                clear: both;
                content: '';
                display: block;
            }
            .kco-sel-list__item__radio {
                display: none;
            }
            .kco-sel-list__item__label {
                color: #838383;
                cursor: pointer;
                display: block;
                line-height: 1.6em;
                margin: 0;
                padding: 1em;
                position: relative;
                width: 100%;
            }
                .kco-sel-list__item__status {
                    margin-right: .6666666666666667em;
                }
                .kco-sel-list__item__status,
                .kco-sel-list__item__title {
                    display: block;
                    float: left;
                    min-height: 1.6em;
                }
                .kco-sel-list__item__nbr {
                    display: block;
                    float: right;
                    font-weight: normal;
                    min-height: 1.6em;
                }
                    .kco-sel-list__item__status i {
                        background: #f0f4f8;
                        border-radius: 100%;
                        color: transparent;
                        display: block;
                        height: 1.6em;
                        line-height: 1.6em;
                        text-align: center;
                        width: 1.6em;
                    }
                .kco-sel-list__item__label:hover {
                    color: #434343;
                }
                    .kco-sel-list__item__label:hover .kco-sel-list__item__status i,
                    .kco-sel-list__item__label:hover .kco-sel-list__item__nbr {
                        color: #0089cf;
                    }
                .selected .kco-sel-list__item__label {
                    color: #434343;
                }
                .selected .kco-sel-list__item__status i {
                    background: #0089cf;
                    color: #fff;
                }
                    .selected .kco-sel-list__item__label:hover .kco-sel-list__item__status i {
                        color: #fff;
                    }
                .selected .kco-sel-list__item__nbr {
                    color: #0089cf;
                }
            .kco-sel-list__item.selected {
                box-shadow: 0 0 0 1px #0089cf,
                            0 0 3px 1px #0089cf;
            }
            .kco-sel-list__item__info {
                clear: both;
                display: block;
                font-size: .8666666666666667em;
                font-weight: normal;
                padding-left: 2.615384615384615em;
            }
            @media (min-width: 992px) {
                .has-tooltips .kco-sel-list__item__info {
                    background: rgba(32, 36, 40, .8);
                    border-radius: 3px;
                    color: #fff;
                    display: block;
                    font-size: .875em;
                    height: 3em;
                    line-height: 3em;
                    margin-top: -1.5em;
                    padding: 0 1.125em;
                    pointer-events: none;
                    white-space: nowrap;
                    position: absolute;
                    top: 50%;
                    left: 98%;
                    z-index: 1;
                    filter: alpha(opacity=0);
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: all .15s ease-in-out;
                       -moz-transition: all .15s ease-in-out;
                        -ms-transition: all .15s ease-in-out;
                         -o-transition: all .15s ease-in-out;
                            transition: all .15s ease-in-out;
                }
                    .has-tooltips .kco-sel-list__item__info:after {
                        border: 5px solid transparent;
                        border-right: 5px solid rgba(32, 36, 40, .8);
                        content: '';
                        display: block;
                        margin-top: -5px;
                        position: absolute;
                        top: 50%;
                        left: -10px;
                    }
                    .has-tooltips .kco-sel-list__item__label:hover .kco-sel-list__item__info {
                        left: 100%;
                        filter: alpha(opacity=100);
                        opacity: 1;
                        visibility: visible;
                    }
            }
    .kco-del-list {
        background:#fff;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 3px;
        list-style: none;
        margin: 1em 0 0;
        padding: 0;
    }
        .kco-del-list li {
            border-bottom: 1px solid rgba(0, 0, 0, .15);
            font-size: .9375em;
            height: 2.2em;
            line-height: 2.2em;
            padding-left: 1em;
            padding-right: 2.2em;
            position: relative;
        }
            .kco-del-list li:last-child {
                border-bottom: 0;
            }
            .kco-del-list li:after {
                clear: both;
                content: '';
                display: block;
            }
            .kco-del-list__title {
                color: #434343;
                font-weight: bold;
                float: left;
            }
            .kco-del-list__nbr {
                float: right;
            }
            .kco-del-list__btn {
                color: #e76a5d;
                display: block;
                height: 2.2em;
                line-height: 2.2em;
                text-align: center;
                width: 2.2em;

                position: absolute;
                top: 0;
                right: 0;
            }
                .kco-del-list__btn:hover {
                    color: #e74635;
                }
#module-klarnaofficial-checkoutklarna div.shopping_cart span.remove_link{display:none;}
#module-klarnaofficial-checkoutklarnauk div.shopping_cart span.remove_link{display:none;}

#module-klarnaofficial-checkoutklarnauk #order_step,
#module-klarnaofficial-checkoutklarnauk .cart_navigation,
#module-klarnaofficial-checkoutklarnauk #voucher,
#module-klarnaofficial-checkoutklarnauk .title-offers,
#module-klarnaofficial-checkoutklarnauk #display_cart_vouchers,
#module-klarnaofficial-checkoutklarnauk #cart_voucher * {
	display: none;
}

#module-klarnaofficial-checkoutklarna #order_step,
#module-klarnaofficial-checkoutklarna .cart_navigation,
#module-klarnaofficial-checkoutklarna #voucher,
#module-klarnaofficial-checkoutklarna .title-offers,
#module-klarnaofficial-checkoutklarna #display_cart_vouchers,
#module-klarnaofficial-checkoutklarna #cart_voucher * {
	display: none;
}