/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*  $PAYMENT OPTIONS CHECKOUT
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

p.payment_module a.klarnacheckout_invoice {
	padding:33px 40px 34px 12px;
	background: #fbfbfb;
}
a.klarnacheckout_invoice img { margin-right: 10px; }

p.payment_module a.klarnacheckout_account {
	padding:33px 40px 34px 12px;
	background: #fbfbfb;
}
a.klarnacheckout_account img { margin-right: 10px; }

p.payment_module a:hover {
	background-color: #f6f6f6;
}

p.payment_module a.klarnacheckout_invoice:after, p.payment_module a.klarnacheckout_account:after {
	display: block;
	content: "\f054";
	position: absolute;
	right: 15px;
	margin-top: -11px;
	top: 50%;
	font-family: "FontAwesome";
	font-size: 25px;
	height: 22px;
	width: 14px;
	color: #777777;
}
#order div.order_delivery{display: none;}
.alert-klarna .kpm_terms_link{
    color:cyan;
    text-decoration: underline;
}
.alert-klarna{
    background-color: #0074c8;
    color:#fff;
}
.alert-klarna-confirmbox{
    background-color: #777;
    color:#fff;
}
.alert-klarna-confirmbox .kpm_terms_link{
    color:#fff;
    text-decoration: underline;
}